<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="appName"
                    source="spring.application.name" defaultValue="data"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5level [${appName},%X{trace_id:-},%X{span_id:-}] [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="io.opentelemetry"          level="WARN"/>
    <logger name="org.springframework.web"   level="INFO"/>
    <logger name="org.springframework.data"  level="WARN"/>
    <logger name="org.springframework.amqp"  level="WARN"/>
    <logger name="org.eclipse.paho"          level="WARN"/>
    <logger name="com.influxdb"              level="WARN"/>
    <logger name="io.minio"                  level="WARN"/>
    <logger name="org.mongodb.driver"        level="WARN"/>
    <logger name="org.bytedeco"              level="WARN"/>
</configuration>